body {
    padding: 2em;
    text-align:center;
    background-color:floralwhite;
    background-image:url(city.jpeg);
}

main {
    padding: 1.5em;
    
}

form {
    padding: 1.1em;
}

form div {
    padding-bottom: 4px;
}

.info {
    font-weight: 600;
    
}